In [1]:
import mysql.connector
import pandas as pd
import plotly.plotly as py
from plotly.graph_objs import *

In [2]:
#connect to the database
config = {
  'user': 'root',
  'password': '',
  'host': 'localhost',
  'db': 'labproject', 
}
db = mysql.connector.connect(**config)

In [5]:
# fetch the data
cursor = db.cursor()
temps = "SELECT * FROM temperature"
cursor.execute(temps)
rows = cursor.fetchall()
df = pd.DataFrame( [[ij for ij in i] for i in rows] )
df.rename(columns={0: 'id', 1: 'date', 2: 'temp'}, inplace=True)

In [6]:
df.head() # shows first 5 rows of entire table

   id     date  temp
0   1 00:00:10  25.0
1   2 00:00:20  25.5
2   5 00:00:30  24.6
3   6 00:00:40  23.0
4   9 00:00:50  21.0

In [8]:
# plot the temperature vs. time using plotly
import plotly.plotly as py
import plotly.graph_objs as go
import plotly
plotly.tools.set_credentials_file(username='ckoopman', api_key='OlVm4rvASU2pvGWsuAJs')

from datetime import datetime

data = [go.Scatter(x=df.date, y=df.temp)]

py.iplot(data)

In [15]:
# make a boxplot of the data
import plotly.plotly as py
import plotly.graph_objs as go

data = [
    go.Box(
        y=df['temp'],
        boxpoints='all',
        jitter=0.3,
        pointpos=-1.8
    )
]
py.iplot(data)

In [ ]:
# close the database connection
cursor.close()
db.close()